.menu-complaint .ant-menu-overflow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.menu-complaint {
  border-radius: 12px;
}

.custom-textarea {
  resize: none !important;
}

.ant-notification {
  left: 55% !important;
  bottom: 92% !important;
  margin-right: 30% !important;
  transform: translate(-50%, -50%) !important;
}